.custom {
    height: 100vh;
    background: url('../../assets/images/img_1.png') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom .custom__container {
    height: 100%;
}

.custom .custom__container .btn {
    margin-top: 150px;
}

/********* MEDIA ***********/

@media screen and (max-width: 477px) {
    .custom {
        height: 30vh;
    }

    .custom .btn {
        font-size: 14px;
    }
}

@media screen and (min-width: 478px) and (max-width: 768px){
    .custom {
        height: 80vh;
    }
}
