.custom {
    background-image: url(../../assets/images/img_1.png);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom .custom__container {
    margin-top: 170px;
}

/********* MEDIA ***********/

@media screen and (max-width: 477px) {
    .custom {
        background-position: center;
        background-repeat: no-repeat;
        height: 270px;
    }

    .custom .btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .custom {
        background-position: center;
    }
}

@media screen and (max-width: 1024px) {
    .custom {
        background-position: center;
    }
}