.custom {
    background: url('../../assets/images/img_1.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom .custom__container {
    margin-top: 170px;
}