html, body {
    min-height: 100%;
    min-width: 320px;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #595b5e;
    font-size: 16px;
    line-height: 1.5;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h1 {
    text-align: center;
    background: linear-gradient(to top, #AAAAAA, #595b5e);
    padding: 20px 0;
}

h1, h2 {
    color: #595b5e;
    font-family: 'Martel', serif;
    font-size: 42px;
    font-weight: 800;
}

h2::after {
    content: '';
    display: block;
    height: 3px;
    width: 11%;
    background: #595b5e;
    margin: 5px 0 20px 0;
}

h3, h4 {
    color: #FFFFFF;
    font-weight: normal;
}

.btn {
    padding: 7px 20px;
    background: linear-gradient(to left, #dee2e2, #939597);
    border-radius: 30px;
    font-size: 16px;
}

.btn:hover {
    background: linear-gradient(to left, #64656a, #e1e6e9);
}

[class*=__container] {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

/********* MEDIA ***********/

@media screen and (max-width: 477px) {
    [class*=__container] {
        flex-direction: column;
        justify-content: flex-end;
        gap: 30px;
    }

    .wrapper {
        padding: 0 2px;
    }

     main.main > section {
        padding: 10% 0;
    }

     h1 {
         font-size: 25px;
         padding: 5px 0;
     }
}

/******************** ANIMATION *****************/

h2 {
    opacity: 0; /* Спочатку блок прихований */
    transform: translateX(-100%); /* Початкове положення — за межами ліворуч */
    transition: all 1s ease; /* Плавний перехід для появи */
}

h2.visible {
    opacity: 1; /* Коли блок стане видимим, він стає непрозорим */
    transform: translateX(0); /* Блок "в'їжджає" на своє місце */
}

.header__menu .menu__item,
.header__bottom p {
    position: relative;
    left: -100%; /* Початкове положення за межами екрану зліва */
    opacity: 0; /* Блок спочатку прозорий */
    animation: slideIn 1.5s ease-out forwards; /* Анімація руху та появи за 1.5 секунди */
}

/* Визначення анімації */
@keyframes slideIn {
    0% {
        left: -100%; /* Початкове положення за межами екрану зліва */
        opacity: 0; /* Прозорість 0 (невидимий) */
    }
    100% {
        left: 0; /* Кінцеве положення, коли блок повністю з'явиться */
        opacity: 1; /* Прозорість 1 (видимий) */
    }
}

