.about-first {
    background: linear-gradient(to top, #ffffff, #b2b8bb);
    padding: 80px 0;
}

.about-first__image {
    width: 48%;
}

.about-first__image img {
    width: 100%;
}

.about-first__description {
    width: 48%;
}

.about-first__list {
    margin: 15px 0;
}

.about-first__list .list__item {
    font-style: italic;
}