.contact {
    background: linear-gradient(to top, #ffffff, #b2b8bb);
    padding: 80px 0;
}

.contact__description {
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 25px;
}

.contact .description h3 {
    color: #595b5e;
    font-size: 24px;
    font-weight: 600;
}

.contact .description h3::after {
    content: '';
    display: block;
    height: 2px;
    width: 11%;
    background: #595b5e;
    margin: 15px 0;
}

.contact .description p {
    font-style: italic;
}

.contact-info p {
    font-weight: bold;
}

.contact .contact__address, .contact__time, .contact__email {
    display: flex;
    align-items: center;
    gap: 60px;
    text-align: left;
}

.w10 {
    width: 10%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

