.questions {
    padding: 100px 0;
    background: linear-gradient(to top, #ffffff, #b2b8bb);
}

.questions .description {
    margin-bottom: 25px;
    font-style: italic;
}

.bgColor {
    background: linear-gradient(to bottom, #d2d2d2, #e1e6e9);
}