.questions {
    padding: 100px 0;
    background: linear-gradient(to top, #ffffff, #b2b8bb);
}

.questions .content__description {
    margin-bottom: 25px;
    font-size: 19px;
    font-style: italic;
}

.questions__list {
    margin-bottom: 15px;
    padding-left: 40px;
    list-style-type: disc;
}
