@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&display=swap');

.about {
    background: linear-gradient(to top, #ffffff, #b2b8bb);
    padding: 100px 0;
}

.about__description {
    width: 55%;
}

.about__description p:last-of-type {
    margin: 20px 0 50px 0;
}

.about__description p span {
    font-weight: bold;
}

.about__image img {
    width: 100%;
    height: 550px;
}

/********* MEDIA ***********/

@media screen and (max-width: 477px) {
    .about {
        padding: 25px 0;
    }

    .about__description{
        width: 100%;
    }

    .about__description h2 {
        font-size: 21px;
    }

    .about__description p {
        font-size: 14px;
    }

    .about .btn {
        font-size: 14px;
    }

    .about__image {
        width: 100%;
    }

    .about__image img{
        height: 300px;
        object-fit: cover;
    }
}